<h2 class="title">登録情報の変更(<%= resource_name.to_s.humanize %>)</h2>
<div class= "new">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <!--<%= render "devise/shared/error_messages", resource: resource %>-->
      <div class="field">
        <%= f.label :nickname, "︎ニックネーム" %>
        <p class="control has-icons-left">
          <%= f.text_field :nickname, autofocus: true, :placeholder => "nickname", class: "input" %>
          <span class="icon is-small is-left"></span>
        </p>
      </div>
      <div class="field">
        <%= f.label :email, "メールアドレス"  %>
        <p class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
        </p>
      </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      <div class="field">
        <%= f.label :password, "パスワード変更"  %> <i>(変更したい場合、</i>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> 文字以上で入力)</em>
　　      <% end %>
　　      <p class="control has-icons-left">
　　        <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
　　        <span class="icon is-small is-left"> </span>
          </p>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "パスワード変更(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
        <span class="icon is-small is-left"></span>
      </div>
      <div class="field">
        <%= f.label :current_password, "変更前のパスワード"%> <i>(変更にはパスワードが必要です)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", :placeholder => "password confirmation", class: "input" %>
        <span class="icon is-small is-left"></span>
      </div>
      <div class="actions">
        <%= f.submit "更新する", class: "button" %>
      </div>
  <% end %>

<%= link_to "Back", :back %>
