<div class="cate">
 カテゴリー
    <% @categories.each do |category| %><br>
      <%= link_to category.name  %>
    <% end %>
</div>

<%= render 'layouts/search' %>
<div class="search1"><%= link_to "スレッドを作る", new_discussion_path %></div>
 <div class="wrapper">
  <div class="container">
    <div class="wrapper">
    <h1>DiscussionRoom</h1>

     <h5>「足音」って何？については<%= link_to "About", about_path %>をご覧にください。</h5>
     <h5>もっと詳しく教えてよ<%= link_to "Q&A", answer_path  %></h5>
    <hr>
    <div class="panel">
    <h2>生産的なお話をしましょう</h2>
    <% @discussions.each do |discussion| %>
    <%= link_to discussion.title, discussion_path(discussion) %></br>
    <% end %>
   </div>
  </div>
 </div>

