<div class="cate">
 【カテゴリー】
  <div class="hope">
    <% @categories.each do |category| %><br>
      <%= link_to category.name  %>
    <% end %>
</div>
</div>

 <div class="search-form">
  <%= form_with url: discussions_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword,  size: 40  %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="search1"><%= link_to "スレッドを作る", new_discussion_path %></div>

  <div class="container">
    <div class="wrapper">
    <h1>DiscussionRoom</h1>

     <h5>「足音」って何？については<%= link_to "About", about_path %>をご覧にください。</h5>
     <h5>もっと詳しく教えてよ<%= link_to "Q&A", answer_path  %></h5>
    <hr>
    <div class="panel">
    <h2>生産的なお話をしましょう</h2>
    <% @discussions.each do |discussion| %>
    <%= link_to discussion.title, discussion_path(discussion) %></br>
    <% end %>
   </div>
  </div>
  </div>


