<h2>マイページ</h2>


  <caption>■Bookmark(chat)</caption></br>
  <thead>
    <tr>
     <th>投稿者名</th>
  　 <th>タイトル</th>
  　 </tr>
  　 </thead>

    <% @favorites.each do |favorite| %></br>
    <tr>
    <tbody>
        <td><%= favorite.chat.customer.nickname %></td>
         <td>
          <%= link_to chat_path(favorite.chat) do %>
            <%= favorite.chat.title %>
          <% end %>
         </td>
        <!--<td><%#= bookmark.discussion.body %></td>-->
         </tr>
    <% end %></br></br>
</tbody>

  <caption>■Bookmark(discussion)</caption></br>
  <thead>
    <tr>
     <th>投稿者名</th>
  　 <th>タイトル</th>
  　 </tr>
  　 </thead>

    <% @bookmarks.each do |bookmark| %></br>
    <tr>
    <tbody>
        <td><%= bookmark.discussion.customer.nickname %></td>
         <td>
          <%= link_to discussion_path(bookmark.discussion) do %>
            <%= bookmark.discussion.title %>
          <% end %>
         </td>
        <!--<td><%#= bookmark.discussion.body %></td>-->
         </tr>
    <% end %></br>
</tbody>





