<div class="mypage5">
  ニックネーム：<%= @nickname %></br>
  ※<%= link_to '登録情報を変更する', edit_customer_registration_path %>
  ※<%= link_to '退会する', unsubscribe_path(current_customer) %>
</div>

<h2>マイページ</h2>
  <div class="boxcontainer">
    <div class="tab">
      <input type="radio" name="tab" id="meat1" checked>
        <label for="meat1"><%= @nickname %>の参加スレッド</label>
        <input type="radio" name="tab" id="meat2">
        <label for="meat2"><%= @nickname %>のBookmark一覧</label>
          <div class="foods">
            <ul>
              <li>
                <div class="box-b">ChatRoom(直近5件の投稿を表示)</div>
                </br>
                  <% @threads.each do |thread| %>
                    <%= link_to thread.title, chat_path(thread) %><br />
                        《最新コメント》<br />
                        <% thread.comments.order(created_at: "DESC").limit(5).each do |comment|  %>
                        <%= comment.nickname %>&nbsp&nbsp
                        <%= comment.content %><br />
                        <% end %>
                        <br />
                    <% end %>
              </li>
              <li>
                <div class="box-b">DiscussionRoom(直近5件の投稿を表示)</div>
                <br />
                  <% @texts.each do |text| %>
                    <%= link_to text.title, discussion_path(text) %><br />
                      《最新コメント》<br />
                      <% text.opinions.order(created_at: "DESC").limit(5).each do |opinion|  %>
                      <%= opinion.nickname %>&nbsp&nbsp
                      <%= opinion.content %><br />
                      <% end %>
                      </br>
                  <% end %>
                </li>
            </ul>
            <ul>
              <li>
                <div class="box-b"> ChatRoom</div>
                  <% @favorites.each do |favorite| %><br />
                    <%= favorite.chat.customer.nickname %>:
                    <%= link_to chat_path(favorite.chat) do %>
                    <%= favorite.chat.title %>
                    <% end %>
                    </br>
                 <% end %>
                 <br />
              </li>
              <li>
                <div class="box-b">DiscussionRoom</div>
                  <% @bookmarks.each do |bookmark| %><br />
                    <%= bookmark.discussion.customer.nickname %>:
                    <%= link_to discussion_path(bookmark.discussion) do %>
                      <%= bookmark.discussion.title %>
                    <% end %>
                    <br />
                  <% end %>
              </li>
            </ul>
        </div>
      </div>
   </div>