<% chats.each do |chat| %>
    <tr>
        <td><%= chat.customer.nickname %></td>
        <td><%= chat.title %></td>
        <td><%= chat.introduction %></td>
        <td><%= link_to "詳細", chat_path(chat) %></td>
        <td><%= link_to "編集", edit_chat_path(chat) %></td>
        <td><%= link_to "削除", chat_path(chat), method: :delete, remote: true %></td>
    </tr>
<% end %>