<div class="chat-box">
  <div class="chat-item-1">
    <h1><%= @chat.title %></h1>
          スレッド開設日:<%= @chat.created_at.strftime("%Y/%m/%d ") %></br>
          スレッドオーナー:<%= @chat.customer.nickname %></br>
        <% @chat.kinds.each do |kind| %>
          カテゴリ:<%= kind.name %></br>
        <% end %>
        <% if customer_signed_in? && @chat.customer_id == current_customer.id %>
          <%= link_to "タイトルを編集する", edit_chat_path(@chat) %></br>
          <%= link_to "スレッドを削除する", chat_path(@chat), method: :delete, data: { confirm: "本当に削除しますか？" } %></br>
        <% end %>
        <%= link_to "スレッド一覧に戻る", chats_path %></br>
          <% if @chat.favorited_by?(current_customer) %>
            <%= link_to "ブックマークを外す", chat_favorites_path(@chat), method: :delete  %>
          <% else %>
            <%= link_to "ブックマーク", chat_favorites_path(@chat), method: :chat  %>
          <% end %>

        <%= form_for @comment, url: chat_comments_path(@chat, @comment), data: {remote: true} do |f| %>
          <div class="chat-item-2-1">
            ニックネーム:</br> <%= f.text_field :nickname %> <br>
          </div>
          <div class="chat-item-2-2">
            コメント:</br> <%= f.text_area :content, :size=>"33x10" %> <br>
            <%= f.submit "書き込む", class: "button"  %>
            <div class="api"></br>【注意】<%= link_to "内容よっては書き込みが行えません！", answer_path %>
            </div>
　        </div>
        <% end %>
    </div>

  <div class="chat-item-3">
     <% @comments.each_with_index do |comment, index| %>
       <%= index + 1 %>：
       <%= comment.nickname %>
       <%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S ") %>
       <!--スコア<%#= comment.score %>-->
       <% if customer_signed_in? && comment.customer_id == current_customer.id %>
         <%= link_to "削除する", chat_comment_path(@chat, comment), method: :delete, remote: true  %>
       <% end %></br>
         <%#= simple_format(h(comment.content).html_safe) %>
       <%= sanitize(comment.content.gsub("\n", "<br>")) %>
       <hr>
     <% end %>
  </div>
</div>

<div class="chat-item-4">
  <%= paginate @comments %>
</div>


