<h2>パスワードをお忘れの方はこちら</h2>
  <div class= "new">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <!--<%#= render "admins/shared/error_messages", resource: resource %>-->
      <div class="field">
        <%= f.label :email,"メールアドレス" %><br />
          <p class="control has-icons-left">
            <i class="fas fa-envelope" style="color:black"></i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
          </p>
     </div>
     <div class="actions">
      <%= f.submit "リセット", class: "button" %>
     </div>
    <% end %>
   <%= render "admins/shared/links" %>
 </div>
