
<span>現在ログイン中のユーザー：<%= current_customer.nickname %></span>
<%= form_for(@memo, url: memo_path(@memo)) do |f| %>
    <div>
        <%= f.label :タイトル %><br>
        <%= f.text_field :title, autofocus: true, :placeholder =>"#{@memo.title}" %>
    </div>
    <div>
        <%= f.label :中身 %><br>
        <%= f.text_area :body, :placeholder =>"#{@memo.body}" %>
    </div>
    <div><%= f.submit "更新する" %></div>
<% end %>